/* CSS for portfolio website */

/*home page*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
   
}

.logo{
    font-size: 2rem;
    background: linear-gradient(to right, rgb(8, 29, 99) 0%, rgb(255, 0, 55) 100%);    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
.navbar {
    background: linear-gradient(0deg, #fff 0%, #87da8b 51%, #e5eef7 100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        
    }

    .navbar a {
        color: #096446;
        text-decoration: none;
        padding: 10px 10px;
        font-weight: bold;
    }

    .navbar .menu {
        display: flex;
    }

    .navbar .menu a {
        margin-left: 10px;
    }

    .navbar .menu a:hover,
    .navbar .menu a.active {
    background: linear-gradient(180deg, rgb(1, 26, 247)0%,
            rgb(226, 1, 1)70%);
    color: transparent;
    -webkit-background-clip: text;
    }


    .main {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    background: linear-gradient(98deg, #e5eef7 0%, #fff 100%);
   }


.img1{
    width: 300px;
    height: 400px;
    border-radius: 50%;
    border: 5px solid rgb(66, 36, 136); /* 5px wide solid black border */
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5); /* Shadow effect */
    
}

.text-animate{
    width: 22.8rem;
    position: relative;
}

.text-animate h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: transparent;
    -webkit-text-stroke: 0.1vw #770753;
    background: linear-gradient(180deg, rgb(10, 145, 33)0%,
            rgb(8, 86, 160)51%,
            rgb(166, 207, 195)100%);
    ;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    transition: .6s;
    letter-spacing: 2px;
    animation: animtext 3s linear infinite;
    animation-delay: 2s;
}

@keyframes animtext{
0%,
10%,
100% {
    background-position: -24rem 0;
}

65%,
85% {
    background-position: 0rem 0;
}
}

/*h3 css with animation*/
    .text-bounce {
    animation: bounce 2s infinite;
    color: #4975a8;
    font-size: 5rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px);
        }
    }

    /*text effects for H1 */

    .typewriter {
        overflow: hidden;
        white-space: nowrap;
        font-size: 3.5rem;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
        animation: typing 4s infinite;
    }

    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }


    .info{
        position: relative;
    }
/*download CV button*/
    #btn {
    background: linear-gradient(180deg,rgb(231, 150, 150),blue);
    border-radius: 5px;
    width: 100px;
    color: #fff;
    padding: 8px 10px;
    font-weight: 500;
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 100px;
    }


  .animatedbutton:hover {
      transform: scale(1.2); /* Slightly increase the size on hover */
    }

    .animatedbutton:active {
    transform: scale(0.9);
}
    

/*Media query -Breakpoints */

@media(max-width:530px) {
    html {
        font-size: 80%;
    }

    section {
        padding: 50px 3%;
    }
}

@media (max-width: 599px) {
    .navbar .menu {
        flex-direction: column;
        align-items: flex-start;
    }


    .main{
    display: grid;
    grid-template-columns: repeat(1,2fr);
    align-items: center;
    }

}


/*about me page*/

    .main1{
    display: grid;
    grid-template-columns: repeat(1,2fr);
    align-items: center;
    }



.main1 h2{ 
    letter-spacing: 3px;
    font-size: 2em;
    color: darkblue;
    padding: 10px 0;
}


.abtme>p{
    padding: 15px;
    color: darkgreen;
font-size: 20px;
}



/* contact me page */

    .main2 {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: linear-gradient(98deg, #e5eef7 0%, #fff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

   
    .contact > p{
    font-size: 1em;
    color: #096446;
    padding: 10px;
    
   }

   .main2 h2{
    font-size: 2em;
    color: darkblue;
    letter-spacing: 2px;
    
   }


/*work experience */

   .main3{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: linear-gradient(98deg, #e5eef7 0%, #fff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    }


.main3 h2{
    font-size: 2em;
    color: darkblue;
    letter-spacing: 2px;
    padding: 10px 0;
}

table,th, tr,td{
    border: 1px solid darkblue;
    border-collapse: collapse;
    padding: 10px;
}

@media (max-width: 599px) {

    .main3{
    display: grid;
    grid-template-columns: repeat(1,2fr);
    align-items: start;
    }

